* {
    box-sizing: border-box;
    font-weight: 100;
}

body {
    margin: 0px;
    font-family: sans-serif;
}


.menu_bar {
    /* background-color: lightblue; */
    height:5rem ;
    width: 100vw ;
    display:flex ;
}

.new_open_save_container{
    margin-top: 1rem;
    height:70% ;
    border-right: 1px solid black;
    width:25%;
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
}

.icon_container {
    height:60% ;
}

.fas {
    font-size: 2rem;
}
.formula_bar {
    /* background-color:lightpink; */
    height: 2rem ;
}

.sheets_container {
    background-color:lightgoldenrodyellow;
    height: 2.5rem;
}
 /* grid styling  */
 .grid_container {
    /* background-color:lightgreen; */
    height:calc(100vh - ( 5rem + 2rem + 2.5rem) ) ; 
    overflow:scroll;
}
.cell {
     text-align: center ;
    border:0.1px solid grey ;
    height:1.4rem ;
    outline:none ;
    border-right:none ;
    border-top:none ;
}


.top_row {
    display:flex ;
    position:relative;
    top: -1.4rem ;
    left: 2rem ;
}
.top_row .cell {
    text-align: center ;
    /* these cells are flexed */
    border:0.1px solid grey ;
    min-width: 5rem;
    padding-top: 0.21rem;
    font-size:0.7rem ;
}

.left_col {
    width:2rem ;
    text-align: center ;
    position:relative ;
    top:-1.45rem ;
     background-color: #f1f2f6
}

.left_col > .cell {
    padding-top: 0.21rem;
    font-size:0.7rem ;
}


.top_left_cell {
    height: 1.4rem ;
    width: 2rem ;
    border-right: 5px solid lightgray ;
    border-bottom: 5px solid lightgray;
}

.row{
    display:flex ;
}

.grid .cell {
    min-width: 5rem ;
    border: 0.02px solid rgb(160,158,158) ;
    border-top:none ;
    border-right:none;
}

.grid_container {
position:relative ;
}

.grid {
position: absolute ; 
top:1.35rem ;
left:2rem ;
}

.formula_bar {
display: flex;
align-items: center;
justify-content: center;
}

.formula_bar>div {
    margin-left:1rem ;
    margin-right: 1rem;
}

.formula_bar>* {
    height: 70%;
}

.address_input {
    width:4rem ;
    text-align: center;
}

.formula_input {
    width: calc( 100vw - 8rem ) ;
}


