/Lecture5/randomFolder
/Practice/node_modules
/Lecture8/node_modules
/Lecture9/node_modules
/Lecture10/node_modules
/Lecture12/node_modules
/Lecture13/node_modules
/Lecture14/node_modules
/Lecture15/node_modules
/Lecture12/hackerrank/node_modules