body {
    margin: 0px;
}

.header-container {
    height:5.2rem ;
    background-color:#333 ;
    display: flex ;
    align-items: center ;
    padding-left: 3rem;
}

/* common styling */
.header-container>* {
    background-color:rgb(96,88,88) ;
    height:65% ;
    border-radius:6px ;
}

.color-group_container {
    width: 40%;
    margin-right: 3rem;
    background-color:rgb(96,88,88) ;
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
}

.add-cross_container{
    width:20% ;
    display: flex ;
}

.add-cross_container>*{
    width:50% ;
    height:100% ;
    /* background-color:red ; */
}

.plus-container {
    /* background-color:yellow ; */
}

.multiply-container {

}

.plus-container,.multiply-container {
    /* center the content inside a div */
    display:flex ;
    justify-content: center;
    align-items: center;
}

/* icons are treated as text */
.fa-plus,.fa-times{
    font-size: 2rem;
    font-weight: 400 ;
}

.color {
    height:50% ;
    width : 12% ;
    border-radius:4px ;
}

.pink {
background-color: lightpink ;
}

.blue {
background-color: lightblue ;
}

.green {
background-color: lightgreen ;
}

.black {
background-color: black;
}

.main-container {
height: calc(100vh - 5.2rem) ;
background-color: #f2f2f2;
padding: 4px;
}

/* input styling */
/* uuid frontend */

.task_input {
    color: white;
}

.task_container {
    border:4px solid black ;
    background-color:white ;
    height:8rem ;
    width: 13rem;
}

.task_header {
    height:0.5rem ;
}

.task_main-container {
    padding:0.5rem ;
}

.task_id {
    color:rgb(150,144,144) ;
    margin: 0.2rem;
    margin-left:0px ;
}


/* jo class niche ho jayege usko prefernce milte hain in case of a conflict */